@{

                ViewData["Title"] = "Product Page";
}



    <h1 class="display-4">Welcome</h1>


    <p>@ViewBag.username</p>

    @*<a asp-action="List" asp-controller="Product" asp-area=""></a>*@
